---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost .astro';
import '../styles/global.css';
const pageTitle = 'My Astro Learning Blog';
const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
);
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum soluta autem
    expedita ipsa deserunt obcaecati laudantium voluptas voluptatem alias
    quibusdam!
  </p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
