---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
    nesciunt, saepe id culpa minima fugit iure amet tenetur repudiandae
    voluptas.
  </p>
</BaseLayout>
