---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
    nesciunt, saepe id culpa minima fugit iure amet tenetur repudiandae
    voluptas.
  </p>
</BaseLayout>
